</div>
<div class="footer-padding">
    <div class="footer">
        <p> 2022 Nayantha Yasiru </p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
